input[type=search] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.nav1 {
		width: 100%;
		float: left;
	}
.nav1 a{
	
		float: left;
		display: inline-block;
		text-transform: uppercase;
		line-height: 115px;	
		color: #111;
		font-weight: bold;
		font-size: 15px;
		padding: 0px 25px;
		border-bottom: 5px solid #fff;
		transition: .3s ease;
	}
.nav1 a:hover{
		border-bottom: 5px solid #396;
